<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">Offline Reader</div>
    </div>
  </div>
</div>
<div class="container-fluid" id="main">
	<div class="row-fluid">
		<form class="form form-inline" {{action createNewRss on="submit"}}>
			{{view Ember.TextField placeholder="Enter an RSS feed" valueBinding="newRssUrl"}}
			<button class="btn btn-primary btn-small">Add</button>
		</form>
	</div>
  <div class="row-fluid">
    <div class="span3">
      <div class="well">
      	{{outlet rsses}}
      </div>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
